<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ToiletTid</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="{% if app.request.attributes.get('_route') == '_list' %}active{% endif %}"><a href="index.php">Home</a></li>
                <li class="{% if app.request.attributes.get('_route') starts with 'stat
                istik' %}active{% endif %}"><a href="statistik.php">Statistik</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>

</nav>